html {
  background-color: hsl(0, 0%, 0%);
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  font-family: "Genos", sans-serif;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}
h1 {
  font-size: 50px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  border: 1px solid white;
}
table {
  width: 100%;
  border: 0.5px solid #000;
}
th {
  text-align: center;
}
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 0.5px solid #000;
  border-collapse: collapse;
}
textarea {
  display: block;
  margin: 0 auto;
  text-align: center;
}
